---
import BaseLayout from '../layouts/BaseLayout.astro';

const platform = "github";
const username = "GLOOMYY";
const pageTitle = "Inicio";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Aprendiendo Astro</h2>
</BaseLayout>