---
import Social from './Social.astro'

const platform = "github";
const username = "GLOOMYY"; 
---

<footer>
  <p>Mas proyectos en <a href={`https://www.${platform}.com/${username}`}>Mi Repositorio</a></p>
  <Social platform="github" username="GLOOMYY"/>
  <Social platform="youtube" username="GLOOMY"/>
</footer>